.table{
    align-items: baseline;
        text-align: left;
        background-color: rgb(142, 166, 106);
        font-style: oblique;
        border-radius: 50px;
        width: 500px;
        height: 600px;
        padding: 10px;
        left: 50px;
    }