.table{
        align-items: baseline;
        text-align: left;
        background-color: aliceblue;
        font-style: oblique;
        border-radius: 50px;
        width: 300px;
        height: 300px;
        padding: 10px;
        left: 50px;
    }